.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  padding: 30px;
}

.p5 {
  padding: 50px;
}

.pt-0 {
  padding-top: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pl-1 {
  padding-left: 25px;
}

.pr-0 {
  padding-right: 0px;
}
.pr-1 {
  padding-right: 25px;
}

.mt-1 {
  padding-top: 55px;
}

